// 通用样式
@mixin base-style {
	font-size: var(--docs-font-size-text-main);
	color: var(--docs-color-text-main);
}

// 超出文本省略号
@mixin base-ellipsis() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// 默认过度
@mixin base-transition($duration: 0.3s) {
	transition: all $duration ease;
}

// 默认滚动条
@mixin base-scroll-bar($color: #888888) {
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-track {
		background-color: rgba($color, 0.1);
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: rgba($color, 0.2);
		&:hover {
			background-color: rgba($color, 0.5);
		}
	}
}

// 彩虹背景
@mixin base-rainbow-background() {
	background-image: linear-gradient(
		45deg,
		rgb(245, 82, 32) 0%,
		rgb(243, 239, 31) 33%,
		rgb(35, 199, 244) 66%,
		rgb(35, 31, 239) 100%
	);
}

// 彩虹文本
@mixin base-rainbow-text($speed: 1) {
	background-image: linear-gradient(
		45deg,
		#ff0000,
		#ff8600,
		#fffd00,
		#13a200,
		#00dbd0,
		#002bb7,
		#b200aa,
		#ff0077
	);
	background-clip: text;
	color: transparent;
	animation: run calc(10000 / $speed) + s linear infinite;
	@keyframes run {
		from {
			background-position: 0 0;
		}
		to {
			background-position: -400000px 0;
		}
	}
}
