// 超出文本省略号
@mixin base-ellipsis() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

// 默认过度
@mixin base-transition($duration: 0.3s) {
	transition: all $duration ease;
}

// 默认滚动条
@mixin base-scroll-bar($color: #888888) {
	&::-webkit-scrollbar {
		width: 10px;
	}
	&::-webkit-scrollbar-track {
		background-color: rgba($color, 0.1);
		border-radius: 10px;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: rgba($color, 0.2);
		&:hover {
			background-color: rgba($color, 0.5);
		}
	}
}

// 彩色文本
@mixin base-colorful-background($speed: 1) {
	background-image: linear-gradient(
		45deg,
		rgb(249, 85, 35) 0%,
		rgb(249, 246, 31) 33%,
		rgb(38, 207, 254) 66%,
		rgb(37, 33, 252) 100%
	);
	animation: run calc(10000 / $speed) + s linear infinite;
	@keyframes run {
		from {
			background-position: 0 0;
		}
		to {
			background-position: -400000px 0;
		}
	}
}

// 彩色文本
@mixin base-colorful-text($speed: 1) {
	background-image: linear-gradient(
		45deg,
		#ff0000,
		#ff8600,
		#fffd00,
		#13a200,
		#00dbd0,
		#002bb7,
		#b200aa,
		#ff0077
	);
	background-clip: text;
	color: transparent;
	animation: run calc(10000 / $speed) + s linear infinite;
	@keyframes run {
		from {
			background-position: 0 0;
		}
		to {
			background-position: -400000px 0;
		}
	}
}
