@forward './color.scss';
@forward './font-size.scss';

:root:not(.dark) {
	.vp-doc div[class*='language-'] {
		background-color: #21252b;
		span.lang {
			color: #98989f;
		}
		button.copy {
			border-color: #3b3b41;
			background-color: #2c2d35;
			&:hover,
			&.copied {
				background-color: #26262c;
			}
			&.copied::before {
				border-color: #3b3b41;
				background-color: #26262c;
				color: #98989f;
			}
		}
	}
	.vp-code-block-title-bar {
		background-color: #21252b;
		color: #98989f;
		box-shadow: inset 0 -1px #000000;
	}
	.vp-code-group {
		.tabs {
			background-color: #21252b;
			box-shadow: inset 0 -1px #000000;
		}
		input:checked + label,
		label:hover {
			color: #dfdfd6;
		}
	}
}

.api-guide {
	@media (min-width: 960px) {
		.VPDoc:not(.has-sidebar) .container {
			max-width: 900px;
		}
		.VPDoc:not(.has-sidebar) .content {
			max-width: 800px;
		}
	}
	@media (min-width: 1440px) {
		.VPDoc:not(.has-sidebar) .container {
			max-width: 1400px;
		}
		.VPDoc:not(.has-sidebar) .content {
			max-width: 1300px;
		}
	}
}

.api .vp-doc {
	h2 .header-anchor {
		opacity: 1;
	}
}

.changelog .vp-doc {
	h2 {
		color: var(--docs-color-primary);
		font-size: 36px;
	}
}

.todo .vp-doc {
	h2 {
		color: var(--docs-color-primary);
		font-size: 36px;
	}
	h3 {
		font-size: 26px;
		margin: 40px 0;
	}
	h4 {
		font-size: 20px;
		margin: 30px 0;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		code {
			color: var(--docs-color-primary);
		}
	}
}

.VPButton {
	border: none !important;
	&.demo {
		// @include base-transition();
		position: relative;
		overflow: hidden;
		color: #ffffff !important;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 1);
		z-index: 1;
		&:before {
			@include base-rainbow-background();
			display: block;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -2;
		}
		&:after {
			@include base-transition();
			display: block;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0, 0, 0, 0.1);
			z-index: -1;
		}
		&:hover {
			box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
			&:after {
				background-color: transparent;
			}
		}
	}
}

.VPNavBarTitle {
	.title {
		&:hover {
			span {
				@include base-rainbow-text();
			}
		}
	}
}
